.main__descr {
    margin-bottom: 29px;
    align-items: start;
    max-width: 80%;
    font-size: 20px;
    line-height: 26px;
}

.main__title {
    font-size: 80px;
    line-height: 70px;
    color: #f99436;
    width: 100%;
}