.services__title {
    margin-bottom: 79px;
    width: 40%;
    font-size: 35px;
    line-height: 47.5px;
}

.services-list {
    flex-direction: column;
    gap: 40px;
}

.services-list__img {
    width: 100%;
    height: 200px;
}

.services-list__picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.services-list__text {
    padding: 48px 40px 65px;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #191c19;
}

.services-list__title {
    width: 48%;
    font-size: 55px;
    line-height: 55.5px;
    color: #f4861e;
}

.services-list__descr {
    width: 50%;
    font-size: 22px;
    line-height: 28.6px;
}